{% load static %}
<html>   
<head>
	<title>Create bank account</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	
</head>
<body>
    {% include "accounts/navigation.html" %}
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Create bank account</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
            			{% csrf_token %}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text" style="width: 40px; text-align: center;"><i class="fas fa-money-check"></i></span>
							</div>

							<input type="text" name="iban" placeholder="Iban..." class="form-control" value="{{iban}}"/>
						</div>

                        <div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text" style="width: 40px; text-align: center;"><i class="fas fa-money-check"></i></span>
							</div>
								<select name="account_type" class="form-control">
                                    <option value="cont_curent">Curent</option>
                                    <option value="cont_economii">Economii</option>
                                </select>
						</div>

                        <div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text" style="width: 40px; text-align: center;"><i class="fas fa-money-check"></i></span>
							</div>
								<select name="currency" class="form-control">
                                    <option value="ron">RON</option>
                                    <option value="eur">EURO</option>
                                    <option value="gbp">GBP</option>
                                    <option value="usd">USD</option>
                                </select>
						</div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Create">
                        </div>
					</form>

				</div>

			</div>
		</div>
	</div>
</body>

</html>